/* CSSS Specific to the Landing page goes here */
section>h2
{
    font-size: 140%;
}
article
{
    margin-top: 15px;
}

aside h1, .Sidebar h1
{
    font-size: 140%;
    font-weight: normal;
}
aside menu
{
    width: 20%;
}